@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;0,800;1,600&family=Quicksand:wght@400;700&display=swap");
@font-face {
  font-family: "raleway-v22-latin_cyrillic-600";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-900";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-900.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-regular";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69");
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?za5w69") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?za5w69") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?za5w69#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--FormHandler-*/
/*--end FormHandler--*/
/*--------------------adjustment----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #545971;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  overflow-behavior: none;
}

html, body {
  height: 100%;
}

.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
@supports (overflow: clip) {
  .main {
    overflow: clip;
  }
}
.main > * {
  min-width: 0;
}
.main .header {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.main .main-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.main .footer {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

input input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.input,
input {
  outline: none;
  display: block;
  width: 100%;
}

textarea.input {
  resize: none;
  padding: 0 0;
}

h1 {
  font-size: 4rem;
}

[class*=__container] {
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: 91.875rem;
}

.some-selector {
  font-size: 1.25rem;
  padding: 0.875rem 2rem;
}

.hidden {
  display: none;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}
._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  padding-bottom: 80%;
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

.toggle-mnu {
  display: none;
  position: fixed;
  right: 1.5rem;
  top: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media only screen and (max-width: 47.99875em) {
  .toggle-mnu {
    display: block;
  }
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
}
.toggle-mnu span:after {
  top: 14px;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on span:before {
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-mnu.on span:after {
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}

.cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 31;
  background-color: rgba(20, 34, 87, 0.6);
}
.menu-opened .cover {
  display: block;
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
.block-header {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.block-header--center {
  text-align: center;
}

.block-header__title {
  color: #171921;
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 1.23;
}
@media (max-width: 90em) {
  .block-header__title {
    font-size: clamp( 1.5rem , 1.15rem  +  1.75vw , 3.25rem );
  }
}

.block-header__title--big {
  font-size: 4rem;
}
@media (max-width: 90em) {
  .block-header__title--big {
    font-size: clamp( 2.125rem , 1.75rem  +  1.875vw , 4rem );
  }
}

.block-header--horizontal {
  -ms-grid-columns: minmax(auto, 36.625rem) minmax(auto, 38.3125rem);
  grid-template-columns: minmax(auto, 36.625rem) minmax(auto, 38.3125rem);
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: end;
  align-items: end;
}

.block-header__title--wht {
  color: #fff;
}

.block-header__text p {
  line-height: 155.556%;
}

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4rem;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #15B2F5;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
  border-radius: 3.75rem;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.1s ease;
}
.btn:hover {
  background-color: #2dbaf6;
}
.btn:active {
  background-color: #0aa5e7;
}
.btn-fw {
  width: 100%;
}
.btn--iconed {
  position: relative;
}
.btn--iconed:after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
}
.btn--call:after {
  background-image: url(../img/icons/sluhivka.svg);
}
.btn span {
  display: block;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

/*--------------------END ui----------------------*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
  background-color: #142257;
}

.header__container {
  max-width: 99.625rem;
  min-height: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11.25rem 1fr 11.25rem;
  grid-template-columns: 11.25rem 1fr 11.25rem;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.9375rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media only screen and (max-width: 47.99875em) {
  .header__container {
    min-height: 3.5rem;
  }
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  justify-self: center;
}

@media screen and (max-width: 47.99875em) {
  .menu-header__body {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    overflow-y: auto;
  }
}
.menu-opened .menu-header__body {
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (max-width: 47.99875em) {
  .menu-header__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 2.25rem;
    max-width: 17rem;
    background-color: #142257;
    overflow-y: visible;
    z-index: 32;
  }
}

.menu-header__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
  column-gap: 3.5625rem;
}
@media (max-width: 90em) {
  .menu-header__list {
    column-gap: clamp( -0.3125rem , -1.0875rem  +  3.875vw , 3.5625rem );
  }
}
@media only screen and (max-width: 47.99875em) {
  .menu-header__list {
    padding: 0 1.5rem;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    overflow-y: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.menu-header__item {
  list-style-type: none;
}

.menu-header__link {
  font-style: normal;
  font-weight: 700;
  line-height: 133.333%;
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 47.99875em) {
  .menu-header__link {
    display: block;
    padding: 2rem;
  }
}
@media (any-hover: hover) {
  .menu-header__link:hover {
    text-decoration: underline;
  }
}

.menu-header__top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 3.5rem;
  border-bottom: 1px solid #1F3584;
}
@media only screen and (max-width: 47.99875em) {
  .menu-header__top {
    display: -ms-flexbox;
    display: flex;
    padding: 0 1.5rem;
  }
}

.menu-header__logo {
  -ms-flex: 0 0 11rem;
  flex: 0 0 11rem;
}

.toggle-mnu--close {
  position: static;
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  margin-top: 0.4375rem;
}
.toggle-mnu--close.on span:after {
  -ms-transform: rotate(-45deg) translate(5px, -6px);
  transform: rotate(-45deg) translate(5px, -6px);
}

.header__schedule {
  justify-self: end;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 133.333%;
  color: #fff;
}
.header__schedule:before {
  content: "";
  display: block;
  width: 0.75rem;
  -ms-flex: 0 0 0.75rem;
  flex: 0 0 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: #FF5E5E;
}
@media only screen and (max-width: 47.99875em) {
  .header__schedule {
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.mob-menu-box {
  z-index: 31;
}
@media screen and (max-width: 47.99875em) {
  .mob-menu-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    overflow-y: auto;
  }
}
.menu-opened .mob-menu-box {
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/*--------------------main-block----------------------*/
.main-block {
  padding-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 21.8335983042% 1fr 21.8335983042%;
  grid-template-columns: 21.8335983042% 1fr 21.8335983042%;
  min-height: 100vh;
  background-color: #142257;
}
@media only screen and (max-width: 61.9375em) {
  .main-block {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

.main-block__image {
  padding-bottom: 202.9126213592%;
  border-radius: 24px;
  overflow: hidden;
}
@media only screen and (max-width: 61.9375em) {
  .main-block__image {
    display: none;
  }
}
.main-block__image img {
  object-position: top;
}

.main-block__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 3.125rem;
  padding-left: 5.1875rem;
  padding-right: 5.1875rem;
}
@media (max-width: 90em) {
  .main-block__body {
    padding-left: clamp( 1.5rem , -2.4335979548rem  +  6.3509149623vw , 5.1875rem );
  }
}
@media (max-width: 90em) {
  .main-block__body {
    padding-right: clamp( 1.5rem , -2.4335979548rem  +  6.3509149623vw , 5.1875rem );
  }
}
.main-block__body .block-header {
  max-width: 42.0625rem;
}

.main-block__content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 1.5rem;
}

.main-block__drops {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 1.75rem;
  row-gap: 0.625rem;
}

.main-block__drop {
  list-style-type: none;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  color: #9EA3B5;
}
.main-block__drop:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  background-color: #9EA3B5;
}
.main-block__drop:first-child:before {
  display: none;
}

.dones {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 2.5625rem;
  row-gap: 0.9375rem;
}

.done {
  list-style-type: none;
  padding-left: 2rem;
  color: #15B2F5;
  background-image: url(../img/icons/check.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.125rem;
}

.main-block__button {
  margin-top: 1.5rem;
}

.main-block__features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  column-gap: 4rem;
  row-gap: 0.9375rem;
}
@media (max-width: 90em) {
  .main-block__features {
    column-gap: clamp( 1.25rem , 0.7rem  +  2.75vw , 4rem );
  }
}
@media only screen and (max-width: 120em) {
  .main-block__features {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 36em) {
  .main-block__features {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

.feature-main-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.feature-main-block:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  right: -2rem;
  display: block;
  width: 0.125rem;
  height: 100%;
  background: #9EA3B5;
  opacity: 0.3;
}
@media (max-width: 90em) {
  .feature-main-block:not(:last-child):after {
    right: clamp( -0.9375rem , -0.725rem  +  -1.0625vw , -2rem );
  }
}
@media only screen and (max-width: 120em) {
  .feature-main-block:not(:last-child):after {
    display: none;
  }
}

.feature-main-block__icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 0 0 3rem;
  flex: 0 0 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #1F3584;
}

.feature-main-block__text {
  color: #fff;
  font-weight: 600;
  line-height: 133.333%;
}

/*--------------------END main-block----------------------*/
/*# sourceMappingURL=maps/main.css.map */
