section.advantages
	.advantages__wrapper
		.advantages__container
			.advantages__block-header.block-header--horizontal.block-header--wht
				h2.block-header__title.block-header__title--wht Fast, Friendly, and Satisfaction Guarantee

				.block-header__text
					p No matter how big or small your work is, whether it's for the interior or exterior of your home, we are ready to serve and help you solve your home problems.

			.advantages__items
				- var huys = [{title: "Satisfaction Guarantee", text: "you don't need to worry about scams or our performance results. our company has been verified and strives for optimal results"}];

				- for (var i=0; i < 6; i++)
					each item, n in huys
						.advantages__item.item-advantages
							.item-advantages__icon
								img(src="img/icons/advantages/" + (i+1) + ".svg" alt="alt")
							.item-advantages__title= item.title
							.item-advantages__text
								p= item.text