section.reviews
	.reviews__container
		.reviews__block-header.block-header.block-header--center
			h2.block-header__title Here our original reviews from trusted platform
		
		.reviews__carousel.tiny-carousel
			.tiny-carousel__nav
		 		button(type="button" class="tns-prev")
					+icon('chev-left')
		 		button(type="button" class="tns-next")
		 			+icon('chev-right')

			.reviews__sldr
				.reviews__sld Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
