header.header
	.header__container
		.header__logo
			img(src="img/logo.svg" alt="logo")
		.header__menu.menu-header
			button.toggle-mnu
				span
			nav.menu-header__body
				+menu('menu-header', ['About Us', 'Services', 'Our Blog', 'Contact ']);
		
		.header__schedule 24 Hour Services


