section.how
	.how__container
		.how__img
			img(src="img/how.jpg" alt="alt")

		.how__content
			.how__block-header.block-header
				h2.block-header__title How HomePro works?
			- var list = [{title: 'Call us anytime 24/7', text: 'You can contact us directly, we will quickly put you in touch with our home care professionals who are ready anytime'}, {title: 'Schedule Service', text: 'After connecting your call, our home care experts will answer your questions and provide flexible appointment times'}, {title: 'Your request is complated', text: 'Once your technician arrives, he will diagnose the problem and provide an estimate. If you decide to continue, the technician will get to work'}];
			
			ol.how__list
				each l in list
					li.how__item.item-how
						.item-how__name= l.title
						.item-how__text= l.text
