section.main-block
	.main-block__image
		img(src="img/main-block/1.jpg" alt="alt")
	.main-block__content
		.block-header.block-header--center
			h1.block-header__title.block-header__title--big.block-header__title--wht Need improvement or repair your home? we can help!
	.main-block__image
		img(src="img/main-block/2.jpg" alt="alt")