section.prof
	.prof__container
		.prof__body
			.block-header
				h2.block-header__title Professional for your home services

				.block-header__text
					p You need help for home care? We are home care professionals focused in the US region. We provide several services that support home services
			- let opts = ['Repair and Installation', 'Maintenance', 'Home Security Services', 'Plumbing', 'Budget-friendly', 'Eco-friendly solutions'];
			ul.prof__opts
				each item in opts
					li.prof__opt= item
			.prof__contact We already 24 hours fast services to help you. You can contact us at #[a(href="(888) 617-5894") (888) 617-5894]

		.prof__img
			img(src="img/prof/prof.png" alt="alt")