section.service
	.__container
		.block-header.block-header--center
			h2.block-header__title Our Services

			.block-header__text
				p You have problems with leaking pipes, broken tiles, lost keys or want to tidy up the trees around you, of course you need our help!