section.talk
	.talk__container
		.talk__content
			.block-header
				h1.block-header__title.block-header__title--big.block-header__title--wht Already to improve or repair your home? Let’s Talk!
				
				ul.dones
					li.done Free Quotes
					li.done 100% Commitment-Free 
				
				.talk__button
					a(href="#").btn.btn--iconed.btn--call
						span Call Us Now

	.talk__image
		img(src="img/talk-img.png" alt="alt")