/*--------------------ui----------------------*/
.block-header {
	display: grid;
	gap: rem(24);
}
.block-header--center {
	text-align: center;
}
.block-header__title {
	color: $darkText;
	// font-size: rem(52);
	font-weight: 700;
	@include adaptive-value-rem('font-size', 52, 24, $maxWidth, $minWidth, 1);
	// @include adaptive-value('font-size', 52, 24, 1);
	line-height: 1.23;
}
.block-header__title--big {
	@include adaptive-value-rem('font-size', 64, 44, $maxWidth,$minWidth, 1);

}
.block-header--horizontal {
	// grid-template-columns: repeat(2, auto);
	grid-template-columns: minmax(auto, rem(586)) minmax(auto, rem(613));
	justify-content: space-between;
	align-items: end;

}
.block-header__title--wht {
	color: #fff;
}
.block-header__text {
	p{
		line-height: 155.556%;
	}
}
/*--------------------END ui----------------------*/ 