/*--------------------main-block----------------------*/
.main-block {
	position: relative;
	padding-top: rem(80);
	
	display: grid;
	grid-template-columns: prc(412,1887) 1fr prc(412,1887);
	min-height: 100vh;
	background-color: $accent;

	@include max-screen($md){
		padding-bottom: rem(45);
		grid-template-columns: auto;
	}
}
.main-block__image {
	padding-bottom: prc(836,412);
	// @include adaptive-value-rem('width', 412, 200, $maxWidth, 991, 1);
	border-radius: 24px;
	overflow: hidden;

	@include max-screen($md){
		display: none;
	}
	img{
		object-position: top;
	}
}
._fit {}
._fit-img {}
.main-block__body {
	display: flex;
	flex-direction: column;
	grid-row-gap: rem(50);
	@include adaptive-value-rem('padding-left', 83, 24, $maxWidth,991, 1);
	@include adaptive-value-rem('padding-right', 83, 24, $maxWidth,991, 1);
	
	.block-header {
		max-width: rem(673);

	}
}
.main-block__content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: rem(24);
}
.main-block__drops {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: rem(28);
	row-gap: rem(10);

	@include max-screen($xs){
		
		column-gap: rem(16);
	}

}
.main-block__drop {
	list-style-type: none;
	font-size: rem(20);
	font-weight: 700;
	line-height: 140%;
	color: $grayText;

	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: rem(6);
		height: rem(6);
		border-radius: 50%;
		margin-right: rem(24);
		background-color: $grayText;

		@include max-screen($xs){
			margin-right: rem(16);
		}
	}

	&:first-child{
		&:before{
			display: none;
		}
	}

	@include max-screen($xs){
		font-size: rem(14);
	}

}
.dones {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	column-gap: rem(41);
	row-gap: rem(15);

	@include max-screen($xs){
		column-gap: rem(24);
	}
}
.done {
	list-style-type: none;
	padding-left: rem(32);
	color: $blue;
	background-image: url(../img/icons/check.svg);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: rem(18);

	@include max-screen($xs){
		font-size: rem(14);
		padding-left: rem(24);
	}
}
.main-block__button{
	margin-top: rem(24);
}
.main-block__features {
	display: grid;
	grid-template-columns: repeat(4, auto);
	@include adaptive-value-rem('column-gap', 64, 20, $maxWidth, $minWidth, 1);
	// grid-template-columns: repeat(auto-fit, minmax(rem(169), 1fr));
	row-gap: rem(15);

	@include max-screen(em($maxWidth)){
		grid-template-columns: repeat(2, auto);	
		
	}
	@include max-screen($md){
		grid-row-gap: rem(40);
		position: relative;
	}
	&:before,
	&:after{
		content: '';
		position: absolute;
		display: block;
		// background-color: #fff;
	}
	&:before{
		width: 100%;
		height: rem(1);
		top: 50%;
		left: 0;
		background: rgb(20,34,87);
		background: linear-gradient(90deg, rgba(20,34,87,1) 0%, rgba(79,102,176,1) 50%, rgba(20,34,80,1) 100%);
	}
	&:after{
		width: rem(1);
		height:100%;
		top: 0;
		left: 50%;
		background: rgb(20,34,87);
background: linear-gradient(0deg, rgba(20,34,87,1) 0%, rgba(79,102,176,1) 50%, rgba(20,34,80,1) 100%);
	}
}
.main-block__feature {

}
.feature-main-block {
	display: flex;
	align-items: center;
	gap: rem(16);
	position: relative;

	&:not(:last-child){
		&:after{
			content: '';
			position: absolute;
			top: 0;
			@include adaptive-value-rem('right', -32, -15, $maxWidth, $minWidth, 1);
			display: block;
			width: rem(2);
			height: 100%;
			background: $grayText;
			opacity: 0.3;

			@include max-screen(em($maxWidth)){
				display: none;
			}
		}
		
	}

	@include max-screen($md){
		flex-direction: column;
		padding-left: rem(15);
		padding-rigth: rem(15);
	}
}
.feature-main-block__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(48);
	flex: 0 0 rem(48);
	height: rem(48);
	border-radius: 50%;
	background-color: $bg;
}
.feature-main-block__text {
	color: #fff;
	font-weight: 600;
	line-height:  133.333%;

	@include max-screen($md){
		text-align: center;
	}
	@include max-screen($sm){
		font-size: rem(14);
	}
}
.main-block__decor{
	margin-top: 15px;
	grid-column: span 3;
	display: flex;
	justify-content: space-between;
	height: rem(45);

	@include max-screen($md){
		display: none;
	}
}
.main-block__decor-left,
.main-block__decor-right{
	position:relative;
	bottom: 0;
	width: prc(412,1887);
	background-color: #fff;

	&:before{
		content: '';
		position: absolute;
		display: block;
		width: rem(60);
		height: 100%;
		background-repeat: no-repeat;
		background-size: 100% 102%;
	}
}
.main-block__decor-left{
	&:before{
		left: 99%;
		background-position: 100% 0;
		background-image: url(../img/main-block/decor-left.svg);

	}
}
.main-block__decor-right{
	&:before{
		right: 99%;
		background-position: 0 0;
		background-image: url(../img/main-block/decor-right.svg);
	}
}
/*--------------------END main-block----------------------*/ 