/*--------------------service----------------------*/
.service {
	@include adaptive-value-rem('padding-top', 120, 30, $maxWidth, $minWidth, 1);
	@include adaptive-value-rem('padding-bottom', 120, 30, $maxWidth, $minWidth, 1);
	.block-header {
		max-width: rem(552);
		margin-left: auto;
		margin-right: auto;
		@include adaptive-value-rem('margin-bottom', 60, 30, $maxWidth, $minWidth, 1);
	}

}
.__container {}
.block-header--center {}
.block-header__title {}
.block-header__text {}
.service__wrapper {}
.service__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(rem(360), 1fr));

	@include max-screen($xss){
		grid-template-columns: auto;
	}
}
.service__item {}
.item-service {
	padding: rem(32);

	@include max-screen($sm){
		text-align: center;
	}
}
.item-service__icon {
	width: rem(64);
	height: rem(64);
	padding: rem(12);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $accent;
	border-radius: rem(20);
	margin-bottom: rem(16);

	@include max-screen($sm){
		margin-left: auto;
		margin-right: auto;
	}

	img{
		max-width: 100%;
		max-height: 100%;
	}
}
.item-service__title {
	margin-bottom: rem(12);
	font-size: rem(24);
	font-weight: 700;
	line-height:  133.333%;
}
.item-service__text {
	color: $grayText;

	&:not(:last-child){
		margin-bottom: rem(32);
	}

}
.item-service--blue {
	background-color: $blue;
	color: #fff;
	border-radius: rem(24);

	.item-service__text {
		color: inherit;
	}
}
.btn {}
.btn--fw {}
/*--------------------END service----------------------*/ 